.desktop-bar-container 
  .col-xs-12.flex-center
    .col-xs-6
      img.img-responsive(src="assets/homeAid-logo.png")

  .col-xs-12.nav-container
    .container-fluid
      .row.flex-center.nav-spacing(*ngIf="isAdmin", [ngClass]="{'active': this.menu}")
        .col-xs-2.flex-center
          i.fa.fa-unlock-alt.nav-icon
        .col-xs-8.flex-center
          a.nav-links([routerLink]="['/menu', adminId]")  {{navText}}
      .row.flex-center.nav-spacing([ngClass]="{'active': this.init}")
        .col-xs-2.flex-center
          i.fa.fa-user.nav-icon
        .col-xs-8.flex-center
          a.nav-links([routerLink]="['/users']")  Inicio
      .row.flex-center.nav-spacing([ngClass]="{'active': this.profile}")
        .col-xs-2.flex-center
          i.fa.fa-user.nav-icon
        .col-xs-8.flex-center
          a.nav-links([routerLink]="['/user', uid]") Mi Perfil
      .row.flex-center.nav-spacing([ngClass]="{'active': this.family}")
        .col-xs-2.flex-center
          i.fa.fa-users.nav-icon
        .col-xs-8.flex-center
          a.nav-links([routerLink]="['/familyGoal']") Familia
      .row.flex-center.nav-spacing([ngClass]="{'active': this.alarms}")
        .col-xs-2.flex-center
          i.fa.fa-bell-o.nav-icon
        .col-xs-8.flex-center
          a.nav-links([routerLink]="['/users']") Alarmas
      .row.flex-center.nav-spacing
        .col-xs-2.flex-center
          i.fa.fa-sign-out.nav-icon
        .col-xs-8.flex-center
          a.nav-links((click)="smModal.show()") Cerrar Sesion
          
.modal.fade(bsModal="", #smModal="bs-modal", tabindex="-1", role="dialog", aria-labelledby="mySmallModalLabel", aria-hidden="true")
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        h4.modal-title.pull-left Quieres cerrar sesion? 
        button.close.pull-right(type="button", aria-label="close", (click)="smModal.hide()")
          span(aria-hidden="true") &times;
      .modal-body
        button.btn.btn-warning((click)="logout()") Si
        button.btn.btn-default((click)="smModal.hide()") No
        
