.row
  .col-xs-12.flex-center
    img(src="assets/homeAid-logo.png")
.row 
  .col-xs-12
    .row
      .col-xs-2
        i.fa.fa-user
      .col-xs-10
        p  Adasd
    .row
      .col-xs-2
        i.fa.fa-users
      .col-xs-10
        p Asdasd
    .row 
      .col-xs-2
        i.fa.fa-circle-o-notch
      .col-xs-10
        p Asdasd
    .row
      .col-xs-2
        i.fa.fa-bell-o
      .col-xs-12
        p Asdasd
