$header-color: #5aabc5;
$text-color: #FFF;
$text-color-completed: green;
$text-color-not-completed: red;
$text-size-mobile: 1.2em;
$yellow: #EEC337;

//mari cambios
.btn-card{
	border-radius: 0;
	text-align: left;
	background-color: $text-color;
	border: aliceblue;
	border-color: grey;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);

	a {
		color: #000;
	}

}


.none {
  display: none;
}

.percent{
  width: 100%;
  position: absolute;
  top: 5vh;
}

.circle{
 position: absolute;
 top: 18px;
}

.head{
  background-color: red;
}


.header {
  margin-top: -1px;
  width: 100vw;

  &-title {
       color: #fff;
       margin-top: -9rem;
       margin-bottom: 6rem;
       text-align: center;
    }
  &-icon{
      width: 3.5rem;
      position: absolute;
      top: 2rem;
      background-color: red;
  }
  &-logOut{
    width: 3.5rem;
  }
}

.user {
    &-img{
      background-color: white;
      border-radius: 50%;
      border: 6px solid;
      padding: 4px;
      height: 100px;
      margin: auto;
      position: relative;
      top: -4rem;
    }
    &-logOut{
      margin-left: .8rem;
      width: 3.5rem;
    }
    &-award{
      margin-left: -1rem;
      width: 3.5rem;
    }
}

.week{
  margin: -2rem auto 1.2rem;
  &-day{
      margin-top: 18%;
  }
}

.arrow {
   margin-top: 18%;
    border: none;
}

p {
    margin: 0px;
    font-size: 16px;
}
btn-user {
	border-radius: 0;
  width: 80vw;
  margin: 1.4rem auto;
	text-align: left;
	background-color: #FFF;
	border: aliceblue;
	border-color: grey;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  text-decoration: none;
  padding: .8rem;
	.todoImg {
	width: 50px;
	float: left;
	}

	.todoName {
		float: left;
		margin-top: 1em !important;
		margin-left: 1em !important;
	}
}

.completed{
  color: #28bca7;
  margin-top: .4rem;
  display: block !important;
  &-txt{
    color: #c3c3c3;
  }
  &-img{
     opacity: 0.5;
  }
}

.icompleted{
    display: none;
}


.btn-user:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


//responsive
@media (min-width: 650px) {
	.btn-user {
		height: 4em;
		width: 80%;
		font-size: 1.2em;
		padding-left: 1em;
    margin: 1rem auto;
	}
  .header{
    margin-top: -10vw;
  }
  .week{
    margin-top: -5rem;
  }
  .btn-user{
    width: 70%;
    margin: 5rem auto;
  }
   .user-week{
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (min-width: 1000px) {
  .header{
  margin-top: -10vw;
  width: 85vw;
  }
  .percent {
    top: 13rem;
  }

}



.md {
	&-column {
		height: 100vh;
		overflow: scroll;
		overflow-x: hidden;
	}
}
