$header-color: #5aabc5;

.header {
  margin-top: 0;
  position: absolute;
  z-index: -1;
  top: 0;

  .path{
    fill:$header-color;
  }

  &-title {
        color: white;
        margin-top: 5vh;
        font-weight: lighter;
        text-align: center
    }
}

.user {
    &-img{
      background-color: white;
      border-radius: 50%;
      border: 6px solid #5aabc5;
      padding: 8px;
      width: 90px;
      height: 90px;
      margin: auto;
    }
}

.week{
    padding: 5vh 0;

  &-day{
      margin-top: 18%;
  }
}

.arrow {
   margin-top: 18%;
    border: none;
}

p {
    margin: 0px;
}
.btn-user {
	border-radius: 0;
  width: 70vw;
  margin: auto;
	text-align: left;
	background-color: #FFF;
	border: aliceblue;
	border-color: grey;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    .todoImg {
    width: 50px;
    float: left;
    }

    .todoName {
        float: left;
        margin-top: 15px;
        margin-left: 10vw;
    }
}

.btn-user:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media (min-width: 650px) {
	.btn-user {
		margin-top: 4em;
		margin-bottom: 10px;
		height: 4em;
		width: 80%;
		margin: 2em;
		font-size: 1.2em;
		padding-left: 1em;
	}
  .header{
  top: -10vw;
  } 
}

@media (min-width: 1000px) {
  .header{
  top: -16vw;
  }
}



  

