.report-container.col-xs-12.no-padding.flex-center
  .col-xs-3
    img.img-responsive([src]="report.avatar")
  .col-xs-9
    p.report-name([style.color]="report.color") {{report.name}}
    p.report-todos.hidden-xs Tareas realizadas: 
      span([style.color]="report.color") {{report.done}} 
      span de 
      span([style.color]="report.color") {{report.total}}
    p {{report.percentage}}% de sus tareas completadas. 
    progressbar.progress-striped(active, max="100", [value]="report.percentage", type="success") {{report.percentage}}%
