.report-container.col-xs-12.no-padding.flex-center
  .col-xs-3
    img.img-responsive([src]="report.avatar")
  .col-xs-9
    p.report-name {{report.name}}
    p {{report.percentage}}% de sus tareas completadas. 
    progressbar.progress-striped(active, max="100", [value]="report.percentage") {{report.percentage}}%
