$green-color: #35B095;
$yellow-color: #EEC337;
$white-color: #FFF;
$main-font-weigth: 200;

section.section-header{
  padding-top: 1rem;
}

.header {
  margin-top: 0;
  position: absolute;
  z-index: -1;
  top: 0;

  .path{
    fill:$green-color;
  }

  &-title {
      color: white;
      text-align: center;
      margin-top: 3rem;
    }
  &-icon{
    position: absolute;
    right: 1rem;
   color: #fff;
   text-align: right;
  }
}

input {
  display: block;
  margin: 0;
  width: 100%;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.back {
  position: absolute;
  color: #FFF;
}

.register{
    &-whitesquare {
    padding: 0;
    background-color: #FFF;
    box-shadow: 1px 1px 1px 1px #CFCFCF;
    position: relative;
    z-index: 0;
  }
  &-form{
    height: 90vh;
  }
  &-img{
    background-image: url(../../../assets/background.png);
    background-size: cover;
    background-position: center center;
    background-clip: padding-box;
  }
}

//btns
.btn-add {
    width: 115px;
    height: 45px;
    background-color: $green-color;
    float: left;
    text-align: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 0 40px;
    border-radius: 2em;
    cursor: pointer;
}

.btn-add button {
    font-weight: 300;
    color: $white-color !important;
    text-decoration: none;
    line-height: 40px;
    transition: all .5s ease;
    z-index: 2;
    position: relative;
    background-color: transparent;
    border: none;
}

.eff-4 {
    width: 115px;
    height: 45px;
    left: -140px;
    background: $yellow-color;
    position: absolute;
    transition: all .5s ease;
    z-index: 1;
    cursor: pointer !important;
}

.btn-add:hover .eff-4 {
    left: 0;
}

.btn-add:hover button {
    color: #fff;
}

@media (min-width: 320px) {
  .register {
    &-header {
      height: 140px;
      background-color: #28BCA7;
      border-radius: 50%;
      margin-top: -10%;
    }
    &-title {
      margin-top: 1.2em;
      color: $white-color;
    }
    &-form {
      padding: 1em 15px;
      &_wrapper {
        padding: 10px 0;
      }
      &_input {
        padding: 10px;
        border: none;
        border-bottom: solid 2px #c9c9c9;
        transition: border 0.8s;
        width: 100%;
        background: none;
        color: #9F9999;
        &:focus, .focus {
          border-bottom: solid 2px #969696;
        }
      }
      &_button {
        width: 100%;
        background-color: #28BCA7;
        color: $white-color;
        font-size: 22px;
      }
    }
  }
}
@media (min-width: 650px) {
  .header{
    top: -10vw;
    width: 70vw;
  }
  .register{
    &-whitesquare {
      background-color: #FFF;
      box-shadow: 1px 1px 1px 1px #CFCFCF;
      height: calc(100vh - 50px);
      width: 70vw;
      margin: auto;
    }
  }
}

@media (min-width: 1000px) {
  .header{
  top: -11vw;
  }

}
