$text-color: #FFF;
$header-color: #28BCA7;

section.section-header{
  padding-top: 2rem;
}

.header {
  margin-top: 0;
  position: absolute;
  z-index: -1;
  top: 0;

  .path{
    fill:$header-color;
  }

  &-title {
        color: white;
        margin-top: 0;
        font-weight: lighter;
        text-align: center
    }
  &-icon{
      width: 3.5rem;
      position: absolute;
      top: 1rem;
  }
  &-logOut{
    margin-left: .8rem;
    width: 3.5rem;
  }
}

input {
  display: block;
  margin: 0;
  width: 100%;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.back {
  position: absolute;
  color: #FFF;
}

.register{
    &-whitesquare {
    padding: 0;
    background-color: #FFF;
    box-shadow: 1px 1px 1px 1px #CFCFCF;
    position: relative;
    z-index: -4;
  }
  &-form{
    height: 90vh;
  }
}

@media (min-width: 320px) {
  .register {
    &-header {
      height: 140px;
      background-color: #28BCA7;
      border-radius: 50%;
      margin-top: -10%;
    }
    &-title {
      margin-top: 1.2em;
      color: $text-color;
    }
    &-form {
      padding: 1em 15px;
      &_wrapper {
        padding: 10px 0;
      }
      &_input {
        padding: 10px;
        border: none;
        border-bottom: solid 2px #c9c9c9;
        transition: border 0.8s;
        width: 100%;
        background: none;
        color: #9F9999;
        &:focus, .focus {
          border-bottom: solid 2px #969696;
        }
      }
      &_button {
        width: 100%;
        background-color: #28BCA7;
        color: $text-color;
        font-size: 22px;
      }
    }
  }
}
@media (min-width: 650px) {
  .header{
    top: -10vw;
    width: 75vw;
  } 
  .register{
    &-whitesquare {
      background-color: #FFF;
      box-shadow: 1px 1px 1px 1px #CFCFCF;
      height: calc(100vh - 50px);
      width: 75vw;
      margin: auto;
    }
  }
}

@media (min-width: 1000px) {
  .header{
  top: -11vw;
  }

}