section.row 
  svg.admin-header(width='100vw' viewBox='0 0 1085 296')
    path.admin-path(d="M.2.4V242.1S514,358,1085,242.1V0Z")
  h1.admin-title Administrador {{adminName | capitalize}} 
  img.admin-img.center-block(src='../../../assets/i-22.png', alt='')

section.row
  section.col-xs-12.col-sm-12
    div.main-todo
      h3#todo-title Tarea quemada
    select.select-detail
      option(value="Done") Completado
    button.btn-menu-admin((click)='relevanceLaw.show()') Ley de la relevancia

.modal.fade(bsModal="", #relevanceLaw="bs-modal" tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true')
  .modal-dialog.modal-sm
    .modal-content(style="border-radius:0px !important")

      .modal-body
        button#btn-yellow.btn.btn-default(click='relevanceLaw.hide()') Aplicar ley
