$header-color: #EEC337;
$text-color: #FFF;
$light-green: #00B097;

h4 {
  font-weight: 300;
}

h5 {
  text-align: center;
}

/*classes for ng if to see which user is selected.*/
.selected-ux {
  border: 0.2em solid black;
  border-radius: 5em;
  width: 60% !important;

}
.no-selected-ux {
  border: 0.2em solid grey;
  border-radius: 5em;
  opacity: 0.5;
  width: 60% !important;
}

.categories, .userName {
  padding: 0px 30px;
}
.img-category{
  border: 0.1em solid lightgrey;
  width: 70% !important;
  opacity: 0.5;
}
.modal-content {
  height: 30em;
}


input[type=radio][_ngcontent-c1] {
    margin: 4px 8px;
}
.radioInput {
  float: left;
}

.acomodarBtn {
  position: relative;
  top: -45em;
}
.btn-category:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  opacity: initial;
}

.category-btn{
  background-color: white;
  border: none;
}

.btn-add-todo{
  background-color: $light-green;
  color: white;
  height: 2em;
  width: 80%;
  border: aliceblue;
  font-weight: 300;

}

input[type=radio] {
    margin: -17px -20px 0;

}

.acomodarButton {
  width: 100%;
  background-color: $light-green;
  color: $text-color;
  font-size: 20px;
}

.acomodarModal {
    border: none;
    background-color: white;
    max-width: 110px;
    position: fixed;
    left: 30%;
    top: -15%;
    background-color: white;
    border-radius: 50%;
    opacity: 1;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.img-category {
  border: none;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
@media (min-width: 320px) {
  .newtodo {
    &-header {
      height: 140px;
      background-color: $header-color;
      border-radius: 50%;
      margin-top: -10%;
    }

    &-title {
      margin-top: 1.2em;
      color: $text-color;
      font-weight: lighter;
    }
  }



  .todo-user {
    padding-left: 2em;
    margin: 2em 0px 2em 0px;
  }

  .todo-category {
    margin: 2em 0px 2em 0px;

  }

  .select-ux {}
}
