section.row
    section.col-xs-12.flex-center.admin-header
        h1.admin-title Nueva tarea
hr
section.row.data
    h5 Seleccione al usuario
    section.col-xs-12.flex-center
        div
            .col-xs-4.col-sm-4
                a(href='')
                    img.addBotton(src='../../../assets/i-22.png', alt='')
            .col-xs-4.col-sm-4
                a(href='')
                    img.addBotton(src='../../../assets/i-23.png', alt='')
            .col-xs-4.col-sm-4
                a(href='')
                    img.addBotton(src='../../../assets/i-24.png', alt='')
section.row.data
    h5 Hora
    section.col-xs-12.flex-center
section.row.data
    h5 Seleccione la tarea
    section.col-xs-12.flex-center
        div
            .col-xs-4.col-sm-4
                a(href='')
                    img.addBotton(src='../../../assets/i-29.png', alt='')
            .col-xs-4.col-sm-4
                a(href='')
                    img.addBotton(src='../../../assets/i-30.png', alt='')
            .col-xs-4.col-sm-4
                a(href='')
                    img.addBotton(src='../../../assets/i-32.png', alt='')
section.row.data
    section.col-xs-12.flex-center
        div
            .col-xs-4.col-sm-4
                a(href='')
                    img.addBotton(src='../../../assets/i-22.png', alt='')
            .col-xs-4.col-sm-4
                a(href='')
                    img.addBotton(src='../../../assets/i-27.png', alt='')
            .col-xs-4.col-sm-4
                a(href='')
                    img.addBotton(src='../../../assets/i-28.png', alt='')