section.row
  section.col-xs-12.flex-center.newtodo-header
    h1.newtodo-title Nueva tarea

section.row
  section.col-xs-12.col-sm-12.todo-container
    h4 Seleccione un usuario
      section.col-xs-12.flex-center.todo-user
        div
          .col-xs-4.col-sm-4
            a(href='')
              img.no-selected-ux(src='../../../assets/i-22.png')
            h5 user.name
          .col-xs-4.col-sm-4
            a(href='')
              img.selected-ux(src='../../../assets/i-23.png')
            h5 user.name
          .col-xs-4.col-sm-4
            a(href='')
              img.no-selected-ux(src='../../../assets/i-24.png')
            h5 user.name

    h4 Seleccione la tarea
      section.col-xs-12.flex-center.todo-category
        div
          .col-xs-4.col-sm-4
            a(href='')
              img.btn-category(src='../../../assets/i-29.png')
            h5 Acomodar
          .col-xs-4.col-sm-4
            a(href='')
              img.btn-category(src='../../../assets/i-30.png')
            h5 Limpiar
          .col-xs-4.col-sm-4
            a(href='')
              img.btn-category(src='../../../assets/i-32.png')
            h5 Acomodar
      section.col-xs-12.flex-center
        div
          .col-xs-4.col-sm-4
            a(href='')
              img.btn-category(src='../../../assets/i-22.png')
            h5 Cocinar
          .col-xs-4.col-sm-4
            a(href='')
              img.btn-category(src='../../../assets/i-27.png')
            h5 Mascotas
          .col-xs-4.col-sm-4
            a(href='')
              img.btn-category(src='../../../assets/i-28.png')
            h5 Personal
      section.col-xs-12.flex-center
        button.btn-add-todo Agregar


            
