$header-color: #EEC337;
.disable {
    pointer-events: none;
    cursor: default;
}

.header {
    margin-top: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    .path {
        fill: $header-color;
    }
    &-title {
        color: white;
        margin-top: 5vh;
        font-weight: lighter;
        text-align: center
    }
}

.week {
    padding: 6vh 0 0;
    &-day {
        margin-top: 18%;
    }
}

.arrow {
    margin-top: 18%;
    border: none;
    background-color: transparent;
}

.btn {
    margin-top: 0px;
}

.addBotton {
    width: 50px;
    float: right;
}

.newTodoBottom {
    margin: 15px 0px;
    font-size: 20px;
}

.todoBotton {
    width: 50px;
    float: left;
}

.btn-admin:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: #6CBBA5;
}

.btn[disabled] {
    opacity: 1;
}

button a {
    color: #FFF;
}

.btn-admin {
    margin-bottom: 10px;
    height: 4em;
    width: 82%;
    margin: 2em;
    font-size: 1.2em;
    padding-left: 1em;
    border-radius: 90px;
    background-color: #6CBBA7;
}

.dayTodos {
    margin-bottom: 10px;
    height: 4em;
    width: 90%;
    margin: 2em;
    font-size: 1em;
    padding-left: 1em;
    background-color: #FFF;
    img {
        width: 50px;
    }
}

.glyphicon {
    line-height: 5;
}

@media (min-width: 320px) {
    .mobile {
        margin-top: -50px;
        .header-title {
            padding: 25px 0px;
        }
    }
}

@media (min-width: 650px) {
    .header {
        top: -8vw;
    }
}

@media (min-width: 1000px) {
    .header {
        top: -18vw;
    }
    .btn-newTodo {
        width: 300px;
        margin-left: 100px;
    }
    .newTodoBottom {
        float: left;
        margin-left: 10px;
    }
}

.desktop {
  &-column {
    overflow: scroll;
    height: 100vh;
    overflow-x: hidden;
  }
}

.btn-card-completed {
  background-color: rgba(160, 253, 188, 0.22);
}
