$text-size-mobile: 1.2em;
$green-color: #35B095;
$yellow-color: #EEC337;
$white-color: #FFF;
$main-font-weigth: 200;
$header-color: #EEC337;

.disable {
    pointer-events: none;
    cursor: default;
}

.header {
    margin-top: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    .path {
        fill: $header-color;
    }
    &-title {
        color: white;
        margin-top: 5vh;
        font-weight: lighter;
        text-align: center
    }
}

.week {
    padding: 5vh 0 3vh;
    &-day {
        margin-top: 5%;
    }
}

.arrow{
    margin-top: 18%;
    border: none;
}

.btn {
    margin-top: 0px;
}
.fa-plus-circle{
    margin-left: .8rem;
}
//btns
.btn-add {
    width: 150px;
    height: 45px;
    background-color: $green-color;
    float: left;
    text-align: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 0 40px;
    border-radius: 2em;
    cursor: pointer;
}

.btn-add button {
    font-weight: 300;
    color: $white-color !important;
    text-decoration: none;
    line-height: 40px;
    transition: all .5s ease;
    z-index: 2;
    position: relative;
    background-color: transparent;
    border: none;
}

.eff-4 {
    width: 150px;
    height: 45px;
    left: -152px;
    background: $yellow-color;
    position: absolute;
    transition: all .5s ease;
    z-index: 1;
    cursor: pointer !important;
}

.btn-add:hover .eff-4 {
    left: 0;
}
.select-title {
   margin-top: 4rem;
  }

.btn-add:hover button {
    color: #fff;
}

.addBotton {
    width: 50px;
    float: right;
}

.newTodoBottom {
    margin: 15px 0px;
    font-size: 20px;
}

.todoBotton {
    width: 50px;
    float: left;
}

.btn-admin:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: #6CBBA5;
}

.btn[disabled] {
    opacity: 1;
}

button a {
    color: #FFF;
}

.btn-admin {
    margin-bottom: 10px;
    height: 4em;
    width: 82%;
    margin: 2em;
    font-size: 1.2em;
    padding-left: 1em;
    border-radius: 90px;
    background-color: #6CBBA7;
}

.dayTodos {
    margin-bottom: 10px;
    height: 4em;
    width: 90%;
    margin: 2em;
    font-size: 1em;
    padding-left: 1em;
    background-color: #FFF;
    img {
        width: 50px;
    }
}




@media (min-width: 320px) {
    .mobile {
        margin-top: -50px;
        .header-title {
            padding: 25px 0px;
        }
    }
}

@media (min-width: 650px) {
    .header {
        top: -8vw;
    }
    .week {
        margin-top: 5em;
    }
}

@media (min-width: 1000px) {
    .header {
        top: -15rem;
    }
    .btn-newTodo {
        width: 300px;
        margin-left: 100px;
    }
    .newTodoBottom {
        float: left;
        margin-left: 10px;
    }
}

.desktop {
  &-column {
    overflow: scroll;
    height: 100vh;
    overflow-x: hidden;
  }
}

.btn-card-completed {
  background-color: rgba(160, 253, 188, 0.22);
}

.completed-content {
  opacity: 0.5;
}
