$text-color: #FFF;
$header-color: #EEC337;
$text-size-mobile: 1.2em;
$formWidth: 60%;
$btn-color: #35B095;
//btns

.btn-main {
	width: 140px;
	height: 50px;
	background-color: $btn-color;
	float: left;
	text-align: center;
	cursor: pointer;
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	margin: 0 0 40px;
	border-radius: 2em;
}

.btn-main a {
	font-weight: 300;
	color: $text-color !important;
	text-decoration: none;
	line-height: 50px;
	transition: all 0.5s ease;
	z-index: 2;
	position: relative;
}

.eff-4 {
	width: 140px;
	height: 50px;
	left: -140px;
	background: $header-color;
	position: absolute;
	transition: all 0.5s ease;
	z-index: 1;
}

.btn-main:hover .eff-4 {
	left: 0;
}

.btn-main:hover a {
	color: #fff;
}
