$btn-color: #35B095;
$header-color: #EEC337;
$text-color: #FFF;

.login {
  &-background {
    background-image: url(../../../assets/background.png);
    background-size: cover;
    background-position: center center;
    background-clip: padding-box;
  }
  &-whitesquare {
    padding: 15px;
    background-color: #FFF;
    box-shadow: 1px 1px 1px 1px #CFCFCF;
    height: calc(100vh - 50px);
  }
  &-button-rows {
    padding: 20px 0;
  }
  &-register-md {
    width: 100%;
    color: #FFF;
  }
  &-login-btn {
    background-color: #28BCA7;
    border: none;
    font-size: 18px;
    color: #FFF;
    width: 220px;
    padding: 10px 0;
    margin-bottom: 23px;
    box-shadow: 1px 1px 1px 1px #CFCFCF;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }
  &-social {
    display: inline-block;
    width: 220px;
    border: none;
    box-shadow: 1px 1px 1px 1px #CFCFCF;
    white-space: nowrap;
    margin-bottom: 23px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    &_icon {
      display: inline-block;
      vertical-align: middle;
      width: 42px;
      height: 42px;
    }
    &_text {
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
    }
  }

  &-register {
    color: #28BCA7;
    font-size: 16px;
  }

  &-google {
    background: white;
    color: #444;
    &_icon {
      background: url(../../../assets/google-icon.png) transparent 5px 50% no-repeat;
    }
  }
  &-facebook {
    background-color: #4267b2;
    color: #FFF;
    &_icon {
    }
  }
}

.error {
  color: #ff0033;
  text-align: center;
  padding: 25px 10px;
  transition: all .5s;
}

//btns
.btn-add {
    width: 115px;
    height: 45px;
    background-color: $btn-color;
    float: left;
    text-align: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 0 40px;
    border-radius: 2em;
}

.btn-add button {
    font-weight: 300;
    color: $text-color !important;
    text-decoration: none;
    line-height: 40px;
    transition: all .5s ease;
    z-index: 2;
    position: relative;
    background-color: transparent;
    border: none;
}

.eff-4 {
    width: 115px;
    height: 45px;
    left: -140px;
    background: $header-color;
    position: absolute;
    transition: all .5s ease;
    z-index: 1;
}

.btn-add:hover .eff-4 {
    left: 0;
}

.btn-add:hover button {
    color: #fff;
}

.modal-body{
  height: 12em;
}
.modal-content{
  border-radius: 0px !important;
}
.form-control{
  margin-top: 0.5em;
}
