.login {
  &-social {
    display: inline-block;
    width: 220px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    &_icon {
      display: inline-block;
      vertical-align: middle;
      width: 42px;
      height: 42px;
    }
    &_text {
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      font-weight: bold;
    }
  }

  &-google {
    background: white;
    color: #444;
    &_icon {
      background: url(../../../assets/google-icon.png) transparent 5px 50% no-repeat;
    }
  }
  &-facebook {
    background-color: #4267b2;
    color: #FFF;
    &_icon {
    }
  }
}
