section.row
  section.col-xs-12.flex-center.flex-column
    img.img-responsive(src="assets/homeAid-logo.png")
    button.login-google(role="button", (click)="googleSingUp()")
      span.login-google_icon
      span.login-google_text Sign up With Google
    a.login-register(href="register") Register
