section.row
  section.col-xs-12.flex-center.flex-column
    img.img-responsive(src="assets/homeAid-logo.png")
    .login-google(role="button")
      span.login-google_icon
      span.login-google_text Sign up With Goole
    a.login-register(href="register") Register