section.row
  section.col-xs-12
    app-back
    section.col-xs-2.no-padding
      app-desktop-bar([adminId]="adminId")
    section.col-xs-10.no-padding.admin-md
      svg.admin-header(width='100vw' viewBox='0 0 1085 296')
        path.admin-path(d="M.2.4V200.1S514,330,1085,200.1V0Z")
      h1.admin-md-title Administrador {{adminName | capitalize}} 
      img.admin-img.center-block(src='../../../assets/i-admin.png', alt='')
      .admin-md-buttons.col-xs-12.flex-center.flex-sm-column.admin-xs-height
        .col-xs-12.flex-center.flex-sm-column
          .col-xs-12.col-sm-12.col-md-4.flex-center.admin-md-row-btn
            a.btn-card.admin-md-btn([routerLink]="['/menu', adminId, 'familyGoal']") Crear Premio
          .col-xs-12.col-sm-12.col-md-4.flex-center.admin-md-row-btn
            a.btn-card.admin-md-btn([routerLink]="['/menu', adminId, 'createWeek']") Manejar semana
          .col-xs-12.col-sm-12.col-md-4.flex-center.admin-md-row-btn 
            a.btn-card.admin-md-btn([routerLink]="['/menu', adminId, 'newUser']") Crear usuario
          .col-xs-12.col-sm-12.col-md-4.flex-center.admin-md-row-btn.flex-center.hidden-md.hidden-lg
            a.btn-card.admin-md-btn((click)="smModal.show()") Ver reportes
      .col-xs-12.admin-md-reports.flex-center.no-padding
        .col-xs-11.hidden-xs.hidden-sm
          app-reports([reports]="reports")

            
.modal.fade(bsModal="", #smModal="bs-modal", tabindex="-1", role="dialog", aria-labelledby="mySmallModalLabel", aria-hidden="true")
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close.pull-right(type="button", aria-label="close", (click)="smModal.hide()")
          span(aria-hidden="true") &times;
      .modal-body
        app-reports([reports]="reports")
