$text-size-mobile: 1.2em;
$green-color: #35B095;
$yellow-color: #EEC337;
$white-color: #FFF;
$main-font-weigth: 200;
.btn-menu-admin {
    border-radius: 0;
    text-align: left;
    background-color: $white-color;
    border: aliceblue;
    border-color: grey;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    a {
        color: #000;
    }
}

.btn-menu-admin:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


@media (min-width: 320px) {
  .admin-img {
    position: absolute;
    left: 0;
    top: calc(100vh - 93vh);
    right: 0;
  }
  .admin {
    &-xs {
      &-height {
        height: 100vh;
      }
    }
  }
  .admin {
      &-header {
          margin-top: 0;
          position: absolute;
          z-index: -1;
          top: 0;
      }
      &-path {
          fill: $yellow-color;
      }
      &-title {
          color: white;
          font-weight: lighter;
          text-align: center;
      }
      &-userAvatar {
          width: 20%;
          margin-top: -3em;
      }
      &-avatarBackgroundWhite {
          background-color: $white-color;
      }
      &-img {
          background-color: $white-color;
          border-radius: 50%;
          border: 6px solid $yellow-color;
          padding: 8px;
          width: 90px;
          height: 90px;
          margin: 0 auto;
      }
  }
  .btn-menu-admin {
      margin-top: 1.2em;
      margin-left: 2em;
      margin-bottom: 10px;
      height: 4em;
      width: 80%;
      font-size: $text-size-mobile;
      padding-left: 2em;
  }
  .admin {
      &-md {
          overflow: scroll;
          height: 100vh;
          overflow-x: hidden;
          &-title {
              font-size: 26px;
              margin-top: 20px;
              color: #FFF;
              position: relative;
              text-align: center;
          }
          &-buttons {
              margin-top: -5%;
          }
          &-btn {
              font-size: 16px;
              color: #000;
              padding: 15px;
              border-radius: 1em;
              text-align: center;
              text-decoration: none;
              font-weight: $main-font-weigth;
              box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
          }
          &-btn:hover {
              box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          }

      }
  }
}

@media (min-width: 650px) {

}

@media (min-width: 768px) {
  .admin {
    &-xs {
      &-height {
        height: auto;
      }
    }
  }
  .admin {
      &-header {
          width: 100%;
          position: relative;
          top: -5em;
      }
  }
  .admin-md-title {
      top: 2px;
      left: 35%;
  }

  .admin {
      &-md {
          overflow: scroll;
          height: 100vh;
          overflow-x: hidden;
          &-title {
              position: absolute;
              top: 5%;
              left: 10%;
              color: #FFF;
          }
          &-buttons {
              margin-top: -3%;
          }
          &-btn {
              font-size: 25px;
              color: #000;
              padding: 20px;
              border-radius: 1em;
              text-align: center;
              text-decoration: none;
              font-weight: $main-font-weigth;
              box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
          }
          &-btn:hover {
              box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          }

          &-buttons {
            padding: 0 2em;
          }
          &-row-btn {
            padding: 0 2em;
          }
      }
  }
}

@media (min-width: 1000px) {

}

@media (min-width: 1024px) {
  .admin-img {
    top: calc(100vh - 84vh);
  }
  .admin {
    &-md {
      &-title {
        margin-top: 1em;
        width: 100%;
        left: 0;
        right: 0;
        top: 5%;
        font-size: 36px;
        font-weight: 200;
      }
      &-reports {
        margin-top: 3em;
      }
    }
  }
}

@media (min-width: 1440px) {
  .admin-img {
    top: calc(100vh - 79vh);
  }
  .admin {
    &-md {
      &-title {
        top: 5%;
        font-size: 42px;
      }
      &-buttons {
          margin-top: -5%;
      }
    }
  }
}

@media (min-width: 1800px) {
  .admin-img {
    top: calc(100vh - 72vh);
  }
  .admin {
    &-md {
      &-title {
        top: 10%;
      }
    }
  }
}
