section.row
  section.col-xs-12
    app-back
    section.col-xs-2.no-padding
      app-desktop-bar([adminId]="adminId")
    section.col-xs-10.no-padding.admin-md
      svg.admin-header(width='100vw' viewBox='0 0 1085 296')
        path.admin-path(d="M.2.4V200.1S514,330,1085,200.1V0Z")
      h1.admin-md-title Administrador {{adminName | capitalize}} 
      img.admin-img.center-block(src='../../../assets/i-admin.png', alt='')
      .admin-md-buttons.col-xs-12.flex-center.flex-xs-column.admin-xs-height
        .col-xs-12.flex-center.flex-xs-column
          .col-xs-12.col-sm-4.flex-center.admin-md-row-btn
            a.btn-card.admin-md-btn([routerLink]="['/familyGoal', uid]") Crear Premio
          .col-xs-12.col-sm-4.flex-center.admin-md-row-btn
            a.btn-card.admin-md-btn([routerLink]="['/menu', adminId, 'createWeek']") Manejar semana
          .col-xs-12.col-sm-4.flex-center.admin-md-row-btn 
            a.btn-card.admin-md-btn([routerLink]="['/menu', adminId, 'newUser']") Crear usuario
          .col-xs-12.col-sm-4.flex-center.admin-md-row-btn.flex-center.hidden-sm.hidden-md.hidden-lg
            a.btn-card.admin-md-btn((click)="generateReports()") Ver reportes
      .col-xs-12.admin-md-reports.flex-center.no-padding
        .col-xs-11.hidden-xs
          app-reports([reports]="reports")

            

//- /*section.hidden-sm.hidden-md.hidden-lg
//-   section.row
//-     svg.admin-header(width='100vw' viewBox='0 0 1085 296')
//-       path.admin-path(d="M.2.4V242.1S514,358,1085,242.1V0Z")
//-     h1.admin-title Administrador {{adminName | capitalize}} 
//-     img.admin-img.center-block(src='../../../assets/i-admin.png', alt='')
//-   section.row
//-     section.col-xs-12.col-sm-12
//-       button.btn-menu-admin Ver mis tareas 
//-       button.btn-menu-admin
//-         a([routerLink]="['/menu', adminId, 'createWeek']")  Manejar semana
//-       button.btn-menu-admin 
//-         a([routerLink]="['/menu', adminId, 'newUser']") Crear usuario
//-       button.btn-menu-admin 
//-         a([routerLink]="['/familyGoal',uid]") Crear premio familiar
//-       button.btn-menu-admin Reportes*/
