$text-color: #FFF;
$header-color: #EEC337;
$text-size-mobile: 1.2em;

.btn-menu-admin {
	border-radius: 0;
	text-align: left;
	background-color: $text-color;
	border: aliceblue;
	border-color: grey;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);

	a {
		color: #000;
	}
}

.btn-menu-admin:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media (min-width: 320px) {
	.admin {
		&-header {
			margin-top: 0;
			position: absolute;
			z-index: -1;
			top: 0;
		}

		&-path{
			fill:$header-color;
		}

		&-title {
			color: white;
			font-weight: lighter;
			text-align: center;
		}

		&-userAvatar {
			width: 20%;
			margin-top: -3em;
		}

		&-avatarBackgroundWhite {
			background-color: $text-color;
		}

		&-img{
			background-color: white;
			border-radius: 50%;
			border: 6px solid $header-color;
			padding: 8px;
			width: 90px;
			height: 90px;
			margin: 0 auto;
		}
	}

	.btn-menu-admin {
		margin-top: 1.2em;
		margin-left: 2em;
		margin-bottom: 10px;
		height: 4em;
		width: 80%;
		font-size: $text-size-mobile;
		padding-left: 2em;
	}
}

@media (min-width: 650px) {
  .admin{
  top: -10vw;
  }
}

@media (min-width: 1000px) {
  .admin{
  top: -16vw;
  }
}

@media (min-width: 768px) {
	.admin {
		&-header {
			width: 100%;
			position: relative;
			top: -5em;
		}
	}
}

@media (min-width: 1440px) {
	.admin {
		&-header {
			top: -10em;
		}
	}
}

.admin {
	&-md {
		overflow: scroll;
		height: 100vh;
		overflow-x: hidden;
		&-title {
			position: absolute;
			top: 5%;
			left: 10%;
			color: #FFF;
		}
		&-buttons {
			margin-top: -5%;
		}
		&-btn {
			font-size: 26px;
			color: #000;
			padding: 20px;
			border-radius: 1em;
			text-align: center;
		}
		&-reports {
			margin-top: 5%;
		}
	}
}
