section.row 
  section.col-xs-12.admin-header.flex-center
    h1.admin-title Hello {{adminName | capitalize}} Family!

section.row
  section.col-xs-12.col-sm-12
    button.btn-menu-admin Ver mis tareas 
    button.btn-menu-admin Editar semana
    button.btn-menu-admin 
      a(href="newux") Crear usuario
    button.btn-menu-admin Reportes
