section
    svg.header(width='100vw' viewBox='0 0 1085 296')
      path.path(d="M.2.4V242.1S514,358,1085,242.1V0Z")
    h1.header-title  Nuevo usuario

section.row
  section.col-xs-12.col-sm-12.container
    h4
      section.col-xs-12.flex-center.new-user-subcontainer
        div
          .col-xs-4.col-sm-4
            a(href='')
              img.selected-ux(src='../../../assets/i-22.png')
          .col-xs-4.col-sm-4
            a(href='')
              img.no-selected-ux(src='../../../assets/i-24.png')
          .col-xs-4.col-sm-4
            a(href='')
              img.no-selected-ux(src='../../../assets/i-23.png')
  section.col-xs-12.col-sm-12.container
    form.register-form.flex-center.flex-column
      fieldset.col-xs-10.flex-center.flex-column.no-padding(formgroupname='name')
        .form-group.register-form_wrapper
          label(for='name') Nombre
          input.form-control.newuserfield(type='text', name='name', formcontrolname='user-name', placeholder='Nombre', required='required')
        .form-group.register-form_wrapper
          label(for='name') Fecha de nacimiento
          input.form-control.newuserfield(type='date', name='birthdate', formcontrolname='user-birthdate', placeholder='Fecha de nacimiento', required='required')
        .form-group.register-form_wrapper
          .radio.col-xs-6
            label Femenino
              input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
          .radio.col-xs-6
             label Masculino
              input#optionsRadios2(type='radio', name='optionsRadios', value='option2')               
        select.form-control(multiple='')
          option.blue(val='1')
          option.yellow(val='2')
          option.green(val='3')