section
    svg.header(width='100vw' viewBox='0 0 1085 296')
      path.path(d="M.2.4V242.1S514,358,1085,242.1V0Z")
    a.header-icon.pull-left 
     img.user-logOut(src='../../../assets/i-39.png', alt='')
    a.header-icon.pull-right 
     img.user-award(src='../../../assets/i-33.png', alt='')
    h3.header-title {{title}}
