$header-color: #5aabc5;
.section {
    &-header {
        z-index: 100
    }
}

.header {
    margin-top: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    .path {
        fill: $header-color;
    }
    &-title {
        color: white;
        margin-top: 5vh;
        font-weight: lighter;
        text-align: center;
        position: relative;
        z-index: 2
    }
    &-icon {
        width: 3.5rem;
        position: absolute;
        top: .8rem;
        z-index: 2
    }
    &-logOut {
        margin-left: .8rem;
        width: 3.5rem;
    }
}

img {
    width: 100%;
}

.users {
    &-gradient {
        position: absolute;
        height: 15vh;
        width: 100vw;
        &_top {
            top: 16vh;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
            background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
            /* IE6-9 */
        }
        &_bottom {
            bottom: 0;
            position: absolute;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
            background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
            /* IE6-9 */
        }
    }
    &-container {
        width: 100vw;
        height: 80vh;
        z-index: -3;
        margin-top: 15vh;
        overflow: scroll;
    }
    &-user {
        margin-bottom: 3vh;
        text-align: center;
    }
    &-md {
        height: 100vh;
        background-image: url(../../../assets/background.png);
        background-size: cover;
        background-position: center center;
        background-clip: padding-box;
        &-container {
            padding: 15px;
            background-color: #FFF;
            box-shadow: 1px 1px 1px 1px #CFCFCF;
            height: calc(100vh - 200px);
        }
    }
}

.swiper-pagination {
    position: relative;
    margin-top: 20px;
}

span {
    font-size: 18px;
}