$header-color: #EEC337;
.header {
    margin-top: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100vw;

    .path {
        fill: $header-color;
    }
    &-title {
        color: white;
        margin-top: 5vh;
        font-weight: lighter;
        text-align: center
    }
}

.selected-ux {
    border: 0.2em solid black;
    border-radius: 5em;
    width: 40% !important;
}

.no-selected-ux {
  opacity: 0.5;
  filter: alpha(opacity=40);

}

.week {
    padding: 5vh 0;
    &-day {
        margin-top: 18%;
    }
}

.arrow {
    margin-top: 18%;
    border: none;
}

.btn-user:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.users{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 2px solid #000;
    padding: .5rem;
    opacity: 0.5;
}
.perUserName{
  font-size: 16px;
  color: black;
}
.users:hover{
  opacity: 1;
  width:8rem;
  height: 8rem;
}


.completed{
  color: #28bca7;
  margin-top: .4rem;
  display: block !important;
  &-txt{
    color: #c3c3c3;
  }
  &-img{
     opacity: 0.5;
  }
}

.icompleted{
    display: none;
}

@media (min-width: 650px) {
    .header {
        top: -10vw;
    }
      .family {
        padding-left: 1em;
        margin: 6em 0px 2em 0px !important;
    }
    .user-week{
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (min-width: 1000px) {
    .header {
        top: -11vw;
        width: 75vw;
    }


}

@media (min-width: 320px) {
    .family {
        padding-left: 2em;
        margin: 4em 0px 2em 0px;
    }
}
