/* You can add global styles to this file, and also import other style files */


body {
  overflow: hidden;
}

h1, h2, input {
  overflow: hidden;
  font-weight: lighter;
}

/*
  Centra todos los hijos de un contenedor con display: flex;
*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
  Posiciona todos los hijos de un contenedor con display: flex;
  en direccion de "row"
*/
.flex-row {
  flex-direction: row;
}
/*
  Posiciona todos los hijos de un contenedor con display: flex;
  en direccion de "columna"
*/
.flex-column {
  flex-direction: column;
}

.full-height {
  height: 100vh;
}

/*Button*/
.btn{
    font-size: 22px;
    font-weight: lighter;
    border-radius: 20px;
}