/* You can add global styles to this file, and also import other style files */


body {
  overflow: hidden;
}

h1, h2, input {
  overflow: hidden;
  font-weight: lighter;
}

/*
  Centra todos los hijos de un contenedor con display: flex;
*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
  Posiciona todos los hijos de un contenedor con display: flex;
  en direccion de "row"
*/
.flex-row {
  flex-direction: row;
}
/*
  Posiciona todos los hijos de un contenedor con display: flex;
  en direccion de "columna"
*/
.flex-column {
  flex-direction: column;
}

.full-height {
  height: 100vh;
}

/*Button*/
.btn{
    font-size: 22px;
    font-weight: lighter;
    border-radius: 20px;
}
/* Card todo */
.btn-card{
  border-radius: 0;
  margin: 1.2rem auto;
	text-align: left;
	background-color: #FFF;
	border: aliceblue;
	border-color: grey;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  text-decoration: none;
  padding: .8rem;
}

@media (min-width: 320px) {
  .btn-card {
    width: 80vw;
  }
}

@media (min-width: 768px) {
  .btn-card {
    width: auto;
  }
}

.todoImg {
 width: 50px;
 float: left;
}

.todoName {
   float: left;
   margin-top: 15px !important;
   margin-left: 7vw !important;
}
@media (min-width: 650px) {
    .header {
        top: -10vw;
    }
    .btn-card{
    width: 60vw;
    margin: 1.5rem auto;
  }
}

@media (min-width: 1000px) {
    .btn-card{
    width: 30vw;
    margin: 1.5rem auto;
  }
  .todoName {
    margin-left: 4vw !important;
  }
}

.no-padding {
  padding: 0;
}

.md-column {
  height: 100vh;
  overflow: scroll;
}
