$white: #FFF;
$yellow: #EEC337;
$turquoise: #35B095;
$light-blue: #5aabc5;
.familyReward {
    &-header {
        position: absolute;
        z-index: -1;
        top: 0;
    }
    &-path {
        fill: $light-blue;
    }
    &-title {
        color: white;
        font-weight: lighter;
        text-align: center;
    }
}

.reward {
    padding: 40px 15px;
}

@media (min-width: 380px) {
    .familyReward {
        &-header {
            margin-top: 0vw;
        }
        &-title {
            margin-top: 5vh;
        }
    }
}

@media (min-width: 640px) {
    .familyReward {
        &-header {
            margin-top: -10vw;
            width: 100%;
        }
        &-title {
            margin-top: 5vh;
        }
    }
}

@media (min-width: 768px) {
    .familyReward {
        &-header {
            margin-top: -0vw;
            width: 100%;
        }
        &-title {
            margin-top: 5vh;
        }
    }
}

@media (min-width: 1080px) {
    .familyReward {
        &-header {
            margin-top: -12vw;
            width: 100%;
        }
        &-title {
            margin-top: 5vh;
        }
    }
}