section.col-xs-3.hidden-xs.no-padding   
    app-desktop-bar([adminId]="uid")
section.col-xs-12.col-sm-9
    app-back
    section.row
        svg.familyReward-header(width='100vw' viewBox='0 0 1085 296')
            path.familyReward-path(d="M.2.4V242.1S514,358,1085,242.1V0Z")
        h1.familyReward-title ¡Premios en familia!
    section.row.col-xs-0.col-md-0.col-lg-3
    section.row.flex-center.col-xs-12
        h2.reward ¡Premios
    section.row
        .percentPerDay
          .col-xs-12.flex-center.flex-column.dashboard-xs-section.circle
              round-progress(
              [current]="current",
              [max]="100",
              [color]="'#45ccce'",
              [background]="'#eaeaea'",
              [radius]="150",
              [stroke]="15",
              [rounded]="true",
              [clockwise]="true",
              [responsive]="false",
              [duration]="800",
              [animation]="'easeInOutQuart'",
              [animationDelay]="0") 
              

section.hidden-lg.hidden-md.hidden-sm.mobile   
  app-mobile-bar
        
